.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.reverse {
  flex-direction: row-reverse;
}

.main {
  flex: 1;
  flex-shrink: 0;
  min-width: 50%;
}

.imageWrapper {
  flex: 1;
}

.image {
  display: block;
  width: 100%;
}

.topHeading {
  font-size: 48px;
  line-height: 1.1;
  color: #000;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 25px;
}

.mainHeading {
  font-size: 64px;
  line-height: 1.1;
  color: #ff6c19;
  font-weight: bold;
  margin-bottom: 38px;
}

.body {
  font-size: 24px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.61);
}

@media (max-width: 1720px) {
  .wrapper {
    margin-bottom: 80px;
  }

  .topHeading {
    font-size: 26px;
    margin-bottom: 16px;
  }

  .mainHeading {
    font-size: 32px;
    max-width: 600px;
    margin-bottom: 24px;
  }

  .body {
    font-size: 20px;
    max-width: 600px;
  }
}

@media (max-width: 950px) {
  .wrapper {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .imageWrapper {
    max-width: 600px;
    margin-bottom: 24px;
  }

  .topHeading {
    font-size: 24px;
    text-align: center;
  }

  .mainHeading {
    font-size: 28px;
    text-align: center;
  }

  .body {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .topHeading {
    font-size: 20px;
  }

  .mainHeading {
    font-size: 24px;
  }

  .body {
    font-size: 16px;
  }
}
