.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: max(6.6vw, 24px);
  padding-bottom: 127px;
}

.heading {
  font-size: 72px;
  line-height: 1.15;
  font-weight: 700;
  color: #ff7627;
  text-align: center;
}

.image {
  max-width: 938px;
  width: 100%;
}

.link {
  text-decoration: none;
  border-radius: 15px;
  border: 3px solid #ff9b63;
  padding: 18.5px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.linkText {
  font-size: 30px;
  color: #ff7627;
  font-weight: bold;
  font-style: italic;
}

.arrow {
  width: 37px;
}

@media (max-width: 1720px) {
  .wrapper {
    padding-bottom: 70px;
  }

  .heading {
    font-size: 46px;
  }

  .link {
    border: 2px solid #ff9b63;
    padding: 10px 16px;
    gap: 20px;
  }

  .linkText {
    font-size: 20px;
  }

  .arrow {
    width: 30px;
  }

  .image {
    max-width: 800px;
  }
}

@media (max-width: 950px) {
  .heading {
    font-size: 36px;
  }
}

@media (max-width: 850px) {
  .wrapper {
    padding-bottom: 60px;
  }

  .heading {
    font-size: 32px;
  }

  .link {
    border-radius: 12px;
    border: 1px solid #ff9b63;
    padding: 10px 18px;
    gap: 18px;
  }

  .linkText {
    font-size: 20px;
    font-weight: 500;
  }

  .arrow {
    width: 28px;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 24px;
  }

  .link {
    border-radius: 8px;
    padding: 6px 20px;
    gap: 12px;
  }

  .linkText {
    font-size: 16px;
  }

  .arrow {
    width: 26px;
  }

  .wrapper {
    padding-bottom: 60px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    padding-bottom: 40px;
  }

  .heading {
    font-size: 20px;
  }

  .link {
    margin-top: 20px;
  }

  .arrow {
    width: 24px;
  }
}
