.header {
  background-color: #fff;
  color: #fff;
  padding-block: min(57px, 5vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-inline: max(6.6vw, 24px);
  z-index: 8;
  margin-bottom: 20px;
}

.logo {
  display: block;
  width: 176px;
}

.list,
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  gap: 20px;
}

.link {
  color: #ff6c19;
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
  text-decoration: none;
  margin-left: 60px;
}

.button {
  border-radius: 12px;
  background-color: #ff6c19;
  border: none;
  outline: none;
  padding: 17px 17.5px;
  margin-left: 69px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.navMobile {
  position: fixed;
  inset: 0;
  height: 100vh;
  background-color: #fff;
  padding-inline: max(6.6vw, 24px);
  padding-block: min(57px, 5vh);
  display: flex;
  flex-direction: column;
  z-index: 10;
  transform: translateX(150vw);
  transition: transform 0.4s ease-in;
}

.navMobileOpen {
  transform: translateX(0);
}

.listMobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: min(60px, 20vh);
}

.close {
  width: 30px;
  aspect-ratio: 1 / 1;
}

.topMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonMobile {
  margin-top: auto;
  width: 100%;
  border-radius: 8px;
  background-color: #ff6c19;
  border: none;
  outline: none;
  padding: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  cursor: pointer;
}

.linkMobile {
  color: #ff6c19;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  padding-block: 16px;
}

@media (max-width: 1720px) {
  .link {
    font-size: 16px;
    text-decoration: none;
    margin-left: 40px;
  }

  .logo {
    width: 100px;
  }

  .button {
    border-radius: 8px;
    padding: 10px 16px;
    margin-left: 30px;
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .link,
  .button {
    margin-left: 30px;
  }
}

@media (max-width: 800px) {
  .nav {
    display: none;
  }

  .hamburger {
    display: block;
    width: 40px;
    aspect-ratio: 1 / 1;
  }
}

@media (max-width: 500px) {
  .hamburger {
    width: 30px;
  }

  .header {
    padding-block: min(40px, 3.2vh);
    margin-bottom: 24px;
  }

  .navMobile {
    padding-block: min(40px, 3.2vh);
  }

  .linkMobile {
    font-size: 18px;
    padding-block: 10px;
  }

  .logo {
    width: 80px;
  }
}
