.wrapper {
  padding-inline: max(6.6vw, 24px);
  padding-bottom: 238px;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  gap: 3.5em;
}

.heading {
  font-size: 72px;
  line-height: 1.15;
  font-weight: 700;
  color: #ff7627;
  text-align: center;
}

@media (max-width: 1720px) {
  .wrapper {
    padding-bottom: 100px;
  }

  .heading {
    font-size: 46px;
  }
}

@media (max-width: 950px) {
  .heading {
    font-size: 36px;
    margin-bottom: 1.3em;
  }
}

@media (max-width: 850px) {
  .heading {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 24px;
    margin-bottom: 1.5em;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 20px;
  }
}
